%tr
  %td
    = link_to("SKIP", skip_words_path(word: word.word), remote: true, method: 'POST', class: 'skip')
  %td
    = word.word
  %td
    = word.context
  %td
    = word.yesterday
    = render partial: 'diff', locals: {change: word.diff_last_two_days.to_i}
  %td
    = word.two_days_ago
  %td
    = word.this_week
    = render partial: 'diff', locals: {change: word.diff_last_two_weeks.to_i}
  %td
    = word.last_week
