.row
  .large-12.columns
    .row
      .large-4.columns
        %h1
          New Word Dar
      .large-1.columns.large-offset-7
        %br
        = form_tag refresh_statistics_path, method: :patch
        %button.small.button
          Refresh Statistics




    - if @helpful_hint
      %p
        There are no words in your database. Run
        %code
          rake db:seed
        for test data.

    = will_paginate @words

    %table.pretty
      %tr
        %th
          = sortable 'word'
        %th
          = sortable 'yesterday'
        %th
          = sortable 'two_days_ago'
        %th
          = sortable 'this_week'
        %th
          = sortable 'last_week'
      = render partial: 'word_stats', collection: @words, as: :word

    = will_paginate @words